<div class="row">
  <div class="col-md-6 m-5">
    <a href="#" routerLink="/flats" class="btn btn-primary mb-4">Torna indietro</a>


    <div class="alert alert-primary" role="alert" [hidden] = "create">
     Appartamento creato, torna alla <a routerLink="/flats" class="alert-link">home</a>
    </div>

    <h1 class="text-light">Creazione nuovo appartamento</h1>


    <form [formGroup]="myForm" (ngSubmit)="submit()" enctype="multipart/form-data">

      <div class="form-group">
          <label for="title" class="text-light">Titolo</label>
          <input
              formControlName="title"
              id="title"
              type="text"
              class="form-control">
          <div *ngIf="f.title.touched && f.title.invalid" class="alert alert-danger">
              <div *ngIf="f.title.errors.required">Title is required.</div>
          </div>
      </div>

      <div class="form-group">
        <label for="room" class="text-light">Room</label>
        <input
            formControlName="room"
            id="room"
            type="number"
            class="form-control">
        <div *ngIf="f.room.touched && f.room.invalid" class="alert alert-danger">
            <div *ngIf="f.room.errors.required">Room is required.</div>
        </div>
      </div>

      <div class="form-group">
        <label for="bed" class="text-light">Bed</label>
        <input
            formControlName="bed"
            id="bed"
            type="number"
            class="form-control">
        <div *ngIf="f.bed.touched && f.bed.invalid" class="alert alert-danger">
            <div *ngIf="f.bed.errors.required">Bed is required.</div>
        </div>
      </div>

      <div class="form-group">
        <label for="wc" class="text-light">WC</label>
        <input
            formControlName="wc"
            id="wc"
            type="number"
            class="form-control">
        <div *ngIf="f.wc.touched && f.wc.invalid" class="alert alert-danger">
            <div *ngIf="f.wc.errors.required">WC is required.</div>
        </div>
      </div>

      <div class="form-group">
        <label for="mq" class="text-light">MQ</label>
        <input
            formControlName="mq"
            id="mq"
            type="number"
            class="form-control">
        <div *ngIf="f.mq.touched && f.mq.invalid" class="alert alert-danger">
            <div *ngIf="f.mq.errors.required">WC is required.</div>
        </div>
      </div>


      <div class="form-group">
        <label for="description" class="text-light">Description</label>
        <input
            formControlName="description"
            id="description"
            type="text"
            class="form-control">
        <div *ngIf="f.description.touched && f.description.invalid" class="alert alert-danger">
            <div *ngIf="f.description.errors.required">Description is required.</div>
        </div>
      </div>

      <div class="form-group">
        <label for="image" class="text-light">File</label>
        <input
            formControlName="image"
            name="image"
            id="image"
            type="file"
            class="form-control"
            (change)="onFileChange($event)">
        <div *ngIf="f.image.touched && f.image.invalid" class="alert alert-danger">
            <div *ngIf="f.image.errors.required">File is required.</div>
        </div>
      </div>

      <img [src]="imageSrc" *ngIf="imageSrc" style="height: 300px; width:500px">

      <button class="btn btn-primary mt-3" type="submit" [disabled]="!myForm.valid">Submit</button>
  </form>

  </div>
</div>

